.spinner-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(23, 48, 95, 0.25);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    height: 5em;
    width: 5em;
    color: white;
    box-shadow: -10em -10em 0 5em,
        -10em -10em 0 5em,
        -10em -10em 0 5em,
        -10em -10em 0 5em;
    animation: loader-38 6s infinite;
}

@keyframes loader-38 {
    0% {
        box-shadow: -10em -10em 0 5em,
            -10em -10em 0 5em,
            -10em -10em 0 5em,
            -10em -10em 0 5em;
    }

    8.33% {
        box-shadow: -10em -10em 0 5em,
            10em -10em 0 5em,
            10em -10em 0 5em,
            10em -10em 0 5em;
    }

    16.66% {
        box-shadow: -10em -10em 0 5em,
            10em -10em 0 5em,
            10em 10em 0 5em,
            10em 10em 0 5em;
    }

    24.99% {
        box-shadow: -10em -10em 0 5em,
            10em -10em 0 5em,
            10em 10em 0 5em,
            -10em 10em 0 5em;
    }

    33.32% {
        box-shadow: -10em -10em 0 5em,
            10em -10em 0 5em,
            10em 10em 0 5em,
            -10em -10em 0 5em;
    }

    41.65% {
        box-shadow: 10em -10em 0 5em,
            10em -10em 0 5em,
            10em 10em 0 5em,
            10em -10em 0 5em;
    }

    49.98% {
        box-shadow: 10em 10em 0 5em,
            10em 10em 0 5em,
            10em 10em 0 5em,
            10em 10em 0 5em;
    }

    58.31% {
        box-shadow: -10em 10em 0 5em,
            -10em 10em 0 5em,
            10em 10em 0 5em,
            -10em 10em 0 5em;
    }

    66.64% {
        box-shadow: -10em -10em 0 5em,
            -10em -10em 0 5em,
            10em 10em 0 5em,
            -10em 10em 0 5em;
    }

    74.97% {
        box-shadow: -10em -10em 0 5em,
            10em -10em 0 5em,
            10em 10em 0 5em,
            -10em 10em 0 5em;
    }

    83.3% {
        box-shadow: -10em -10em 0 5em,
            10em 10em 0 5em,
            10em 10em 0 5em,
            -10em 10em 0 5em;
    }

    91.63% {
        box-shadow: -10em -10em 0 5em,
            -10em 10em 0 5em,
            -10em 10em 0 5em,
            -10em 10em 0 5em;
    }

    100% {
        box-shadow: -10em -10em 0 5em,
            -10em -10em 0 5em,
            -10em -10em 0 5em,
            -10em -10em 0 5em;
    }
}