@use '../styles/variables' as vars;

.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  min-height: 100dvh;

  &__sidenav {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    background-color: vars.$surface-1;
    width: 400px;
    transition: width 0.1s;
    position: relative;

    &__toggle {
      position: absolute;
      right: 0;
      bottom: 0;
      cursor: pointer;
      z-index: 1;
      margin: 10px;
    }

    img {
      max-height: 150px;
      align-self: center;
      border-radius: 100%;
    }

    p {
      white-space: pre-wrap;
      font-size: 14px;
    }
  }

  &__content {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    overflow-y: auto;

    &__top-panel {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px;
      font-size: 16px;
      border: 3px solid rgba(255, 97, 62, 0.5);
      background-color: rgba(231, 120, 95, 0.25);
    }

    &__page {
      height: calc(100% - 35px); // 35px is the height of the top panel
    }
  }
}

.compact .container {
  &__sidenav {
    width: 0;
    padding: 0;

    &__toggle {
      right: unset;
      left: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  :not(.compact) .container {
    &__sidenav {
      width: 100%;
    }

    &__content {
      display: none;
    }
  }
}