@use '../styles/variables' as vars;

.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  &__sidenav {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    background-color: vars.$surface-1;
    width: 400px;
    transition: width 0.25s;
    position: relative;

    &__toggle {
      position: absolute;
      right: 0;
      bottom: 0;
      cursor: pointer;
      z-index: 1;
      margin: 10px;
    }

    img {
      max-height: 150px;
      align-self: center;
      border-radius: 100%;
    }

    p {
      white-space: pre-wrap;
      font-size: 12px;
    }
  }

  &__content {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;

    &__top-panel {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px;
      font-size: 18px;
      background-color: vars.$primary-1;
    }
  }
}

.compact .container {
  &__sidenav {
    width: 0;
    padding: 0;

    &__toggle {
      right: unset;
      left: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  :not(.compact) .container {
    &__sidenav {
      width: 100%;
    }

    &__content {
      display: none;
    }
  }

  .container {
    &__content {
      overflow: hidden;
    }
  }
}