@use '../../../../../styles/variables' as vars;

:host {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    padding: 15px;
    background-color: vars.$surface-1;
    box-shadow: vars.$surface-1 0px 4px 12px;

    h1 {
        margin-block: 0px;
    }

    &__header,
    &__body {
        width: 100%;
    }

    &__body {
        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;

            mat-form-field {
                width: 100%;
            }

            button {
                align-self: flex-end;
            }
        }

        &__actions {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: calc(100% - 30px);
        height: calc(100% - 30px);
    }
}