<div class="container">
    <div class="container__header">
        <h1>Reset Password</h1>
    </div>
    <div class="container__body">
        <h3>Please enter your email and we'll send you instructions on how to reset your password</h3>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="resetForm.invalid">
                Reset password
            </button>
            <a mat-button routerLink="/identity/login">Back to login</a>
        </form>
    </div>
</div>