.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: 350px;
    padding: 15px;
    margin-top: 25px;
    background-color: rgb(24, 26, 27);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    &__header,
    &__body {
        width: 100%;
    }
}

mat-form-field {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    button,
    a {
        align-self: flex-end;
    }
}