.container {
  height: calc(100vh - 64px);

  .article {
    width: 800px;
    margin: 10px auto;

    &:hover {
      cursor: pointer;
      background-color: #264376;
    }

    mat-card-content {
      margin-top: 10px;
    }

    @keyframes placeHolderShimmer {
      0% {
        background-position: -780px 0
      }

      100% {
        background-position: 780px 0
      }
    }

    &-loading {
      animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: placeHolderShimmer;
      animation-timing-function: linear;
      background: linear-gradient(90deg, rgb(76, 76, 76) 0%, rgba(48, 48, 48, 1));
      background-size: 780px 115px;
      height: 115px;
      position: relative;
    }
  }
}