@use '../../../../../styles/variables' as vars;

.container {
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
  height: 100vh;

  &__header {
    display: grid;
    grid-template-areas:
      "header actions"
      "subheader actions";
    grid-template-columns: 3fr 2fr;
    height: 120px;

    h1 {
      margin-bottom: 0;
      grid-area: header;
    }

    h3 {
      margin-top: 0;
      grid-area: subheader;
    }

    &__actions {
      grid-area: actions;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
    }
  }

  &__body {
    flex-grow: 1;

    .row {
      display: flex;
      flex-direction: row;

      &__item {
        border-radius: 0;
        margin: 5px;
        width: calc(100% - 10px);

        &:hover {
          cursor: pointer;
          background-color: vars.$surface-1;
        }

        ::ng-deep .mat-mdc-card-header-text {
          width: 100% !important;
        }

        mat-card-title {
          font-size: 16px;
          color: vars.$primary-4;
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: space-between;

          .actions>mat-icon:first-child {
            color: white;
            fill: white;
          }
        }

        mat-card-subtitle {
          font-size: 14px;
        }

        mat-card-content {
          font-size: 14px;
          margin-top: 10px;

          &>span {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

      }
    }
  }
}