<div class="container">
  <div class="container__header">
    <h1>Blog</h1>
    <h3>My super duper blog</h3>
    <div class="container__header__actions">
      <button mat-raised-button color="primary" routerLink="/identity/login"
        *ngIf="(authService.isAuthenticated$ | async) === false">
        <mat-icon>login</mat-icon>
        Login
      </button>
      <button mat-raised-button color="accent" (click)="createArticle($event)">
        <mat-icon>add</mat-icon>
        Create Article
      </button>
    </div>
  </div>
  <cdk-virtual-scroll-viewport class="container__body" [itemSize]="142" appendOnly>
    <ng-container *cdkVirtualFor="let chunks of articleDataSource">
      <div class="row">
        <mat-card class="row__item" *ngFor="let article of chunks" (click)="navigateToArticle(article)">
          <mat-card-header>
            <mat-card-title>
              <span>{{article.title}}</span>
              <div class="actions">
                <mat-icon class="icon-btn--sm" (click)="editArticle($event, article)">
                  edit
                </mat-icon>
                <mat-icon class="icon-btn--sm" color="warn" (click)="deleteArticle($event, article)">
                  delete
                </mat-icon>
              </div>
            </mat-card-title>
            <mat-card-subtitle>{{article.author}} - {{article.date | date}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <span> {{article.description}}</span>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>
  </cdk-virtual-scroll-viewport>
</div>