.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-inline: 15px;
    width: 40vw;

    &__header,
    &__body {
        width: 100%;
    }
}

mat-form-field {
    width: 100%;
}


form {
    display: flex;
    flex-direction: column;
    width: 100%;

    button {
        align-self: flex-end;
    }
}