<div class="container">
    <div class="container__header">
        <h1>Set new password</h1>
    </div>
    <div class="container__body">
        <h3>Please go to your inbox and find the security code in the reset password email</h3>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Code</mat-label>
                <input matInput formControlName="code" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>New Password</mat-label>
                <input matInput formControlName="password" required>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="resetForm.invalid">
                Change password
            </button>
        </form>
    </div>
    <div class="container__body__actions">
        <button mat-button routerLink="/identity/login">
            Back to login
        </button>
    </div>
</div>