@use '../../../../../styles/variables' as vars;

.article {
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
  gap: 10px;

  &__content {
    font-size: 16px;
  }

  h3 {
    margin-top: -10px;
  }

  mat-chip-set {
    margin-top: -10px;
    margin-bottom: 10px;
  }
}