$surface-0: #121212;
$surface-1: #282828;
$surface-2: #3f3f3f;
$surface-3: #575757;
$surface-4: #717171;
$surface-5: #8b8b8b;
$surface-6: #a5a5a5;
$surface-7: #bfbfbf;
$surface-8: #d9d9d9;
$surface-9: #f3f3f3;

$primary-0: #fa0000;
$primary-1: #ff4223;
$primary-2: #ff613e;
$primary-3: #ff7b58;
$primary-4: #ff9372;
$primary-5: #ffa98d;
$primary-6: #ffc9a8;
$primary-7: #ffe3c3;
$primary-8: #fff0dd;
$primary-9: #fff9f4;