@use '@angular/material' as mat;
@use './dark-theme';
@use './variables' as vars;

@include mat.core();

html {
  @include mat.all-component-themes(dark-theme.$theme);

  background-color: vars.$surface-0;
  color: white;
}

body {
  margin: 0;
  font-family: monospace;
}

h1 {
  color: white;
}

h2 {
  color: vars.$primary-3;
}

h3 {
  color: vars.$primary-4;
}

mat-icon.icon-btn {
  cursor: pointer;

  &--sm {
    width: 20px;
    height: 20px;
    font-size: 20px;

    &:hover {
      opacity: 0.5;
    }
  }

  &:hover {
    opacity: 0.5;
  }
}

.notification {
  &-error {
    white-space: pre-line !important;
    --mdc-snackbar-supporting-text-color: white;
    --mat-snack-bar-button-color: white;
    --mdc-snackbar-container-color: #fa0000;
  }

  &-success {
    white-space: pre-line !important;
    --mdc-snackbar-supporting-text-color: white;
    --mat-snack-bar-button-color: white;
    --mdc-snackbar-container-color: green;
  }
}

::-webkit-scrollbar {
  width: 7px;

  &-track {
    background: vars.$surface-6;
  }

  &-thumb {
    background: vars.$surface-2;
  }

  &-thumb:hover {
    background: vars.$surface-1;
  }
}