version: "3.5"

services:
  web:
    image: ghcr.io/adamstawarek/web:${IMAGE_TAG}
    container_name: web
    depends_on:
      - database
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=https://+:5001;http://+:5000
    volumes:
      - ./logs:/app/logs
    ports:
      - 5000:5000
      - 5001:5001
    restart: unless-stopped
    networks:
      - default
