version: "3.5"

services:
  web:
    image: ghcr.io/adamstawarek/web:${IMAGE_TAG}
    container_name: web
    depends_on:
      cli-apply-migrations:
        condition: service_completed_successfully
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=https://+:5001;http://+:5000
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${CERT_PASS}
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/certs/certificate.pfx
      - ConnectionStrings__BlogDbContext=Server=tcp:database;Initial Catalog=BlogDb;Persist Security Info=False;User Id=sa;Password=${DATABASE_PASS};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;
      - ConnectionStrings__HangfireDbContext=Server=tcp:database;Initial Catalog=BlogDb;Persist Security Info=False;User Id=sa;Password=${DATABASE_PASS};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;
    volumes:
      - ./logs/web:/app/logs
      -  ${CERT_PATH}:/certs/certificate.pfx:ro
    ports:
      - 80:5000
      - 443:5001
    restart: unless-stopped
    networks:
      - default

  jobs:
    image: ghcr.io/adamstawarek/jobs:${IMAGE_TAG}
    container_name: jobs
    depends_on:
      cli-apply-migrations:
        condition: service_completed_successfully
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${CERT_PASS}
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/certs/certificate.pfx
      - ConnectionStrings__BlogDbContext=Server=tcp:database;Initial Catalog=BlogDb;Persist Security Info=False;User Id=sa;Password=${DATABASE_PASS};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;
      - ConnectionStrings__HangfireDbContext=Server=tcp:database;Initial Catalog=BlogDb;Persist Security Info=False;User Id=sa;Password=${DATABASE_PASS};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;
    volumes:
        - ./logs/jobs:/app/logs
        -  ${CERT_PATH}:/certs/certificate.pfx:ro
        - ./backup:/app/backup:ro
    restart: unless-stopped
    networks:
        - default

  # cli-apply-migrations:
  #   image: ghcr.io/adamstawarek/cli:${IMAGE_TAG}
  #   container_name: cli-apply-migrations
  #   command: ["database", "apply-migrations"]
  #   depends_on:
  #     - database
  #   environment:
  #     - ConnectionStrings__BlogDbContext=Server=tcp:database;Initial Catalog=BlogDb;Persist Security Info=False;User Id=sa;Password=${DATABASE_PASS};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;
  #   networks:
  #     - default