version: "3.5"

services:
  web:
    image: ghcr.io/adamstawarek/web:${IMAGE_TAG}
    container_name: web
    depends_on:
      - database
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=https://+:5001;http://+:5000
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${CERT_PASS}
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/certs/certificate.pfx
    volumes:
      - ./logs:/app/logs
      -  ${CERT_PATH}:/certs/certificate.pfx:ro
    ports:
      - 443:5000
      - 80:5001
    restart: unless-stopped
    networks:
      - default
