version: "3.5"

volumes:
  sql-data:
  seq:


services:
  database:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: database
    environment:
      - ACCEPT_EULA=true
      - MSSQL_SA_PASSWORD=${DATABASE_PASS}
    ports:
      - 1533:1433
    volumes:
      - sql-data:/var/opt/mssql
      - ./backup/:/app/backup
    healthcheck:
      test: /opt/mssql-tools18/bin/sqlcmd -S database -U sa -P ${DATABASE_PASS} -Q "SELECT 1" -C || exit 1
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 5s
    networks:
      - default

  seq:
    image: datalust/seq:latest
    container_name: seq
    ports:
      - 5555:80
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_ADMINUSERNAME=${SEQ_USER}
      - SEQ_FIRSTRUN_ADMINPASSWORDHASH=${SEQ_PASS_HASH}
    volumes:
      - seq:/data
    networks:
      - default

networks:
  default:
    driver: bridge
