<div class="article">
  <!-- HEADER -->
  <div class="article__header">
    <h1>{{article?.title}}</h1>
    <h3>{{article?.author}} - {{article?.date | date}}</h3>
    <mat-chip-set>
      <mat-chip *ngFor="let tag of article?.tags">{{tag}}</mat-chip>
    </mat-chip-set>
    <mat-divider></mat-divider>
  </div>
  <!-- CONTENT -->
  <div class="article__content" [innerHTML]="article?.content"></div>
  <!-- ACTIONS -->
  <div class="article__actions">
    <button mat-raised-button color="primary" routerLink="/articles">
      Go back to home page
    </button>
    <button mat-raised-button *ngIf="!(isLoggedIn$ | async)" routerLink="/identity/login">
      Log in to comment the article
    </button>
  </div>
  <!-- FOOTER -->
  <div class="article__footer">
    <h2 [matBadge]="article?.comments?.length" [matBadgeHidden]="!article?.comments?.length">
      Comments
    </h2>
    <ng-container *ngTemplateOutlet="commentForm"></ng-container>
    <div class="article__comment" [class.selected]="comment === selectedComment" [class.active]="isLoggedIn$ | async"
      (click)="selectedComment = comment" *ngFor="let comment of article?.comments">
      <strong class="article__comment__header">{{comment.author}} - {{comment.date | date}}</strong>
      <p class="article__comment__content">{{comment.content}}</p>
      <div class="article__comment__footer" *ngIf="comment.replies?.length">
        <mat-icon>reply</mat-icon>
        <div class="article__comment__replies">
          <div class="article__comment reply" *ngFor="let reply of comment.replies">
            <strong class="article__comment__header">{{reply.author}} - {{reply.date | date}}</strong>
            <p class="article__comment__content">{{reply.content}}</p>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <strong class="article__comment-reply-text">Click to write reply</strong>
      <ng-container *ngIf="selectedComment === comment">
        <ng-container *ngTemplateOutlet="commentForm; context:  { $implicit: { parentId: comment.id }}">
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
<!-- TEMPLATES -->
<ng-template #commentForm let-data>
  <form *ngIf="isLoggedIn$ | async">
    <mat-form-field appearance="outline">
      <mat-label>Write a comment</mat-label>
      <textarea #comment matInput rows="3"></textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" [disabled]="!comment.value"
      (click)="publishComment(comment.value, data?.parentId);comment.value = ''">
      Publish Comment
    </button>
  </form>
</ng-template>