@use '../../../../../styles/variables' as vars;

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    max-width: 350px;
    padding: 15px;
    margin-top: 25px;
    background-color: vars.$surface-1;
    box-shadow: vars.$surface-1 0px 8px 24px;

    h1 {
        margin-block: 0px;
    }

    &__header,
    &__body {
        width: 100%;
    }

    &__body {
        &__actions {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

mat-form-field {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    button {
        align-self: flex-end;
    }
}