h1 {
    text-align: start;
    margin: 15px;
    margin-left: 150px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin: 15px;

    .col {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 40vw;
    }
}

mat-form-field {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;

    button {
        align-self: flex-end;
    }
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a {
    text-decoration: none;
    color: white;
}