.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-inline: 15px;
    width: 80vw;

    &__header,
    &__body {
        width: 100%;
    }

    &__body {
        display: flex;
        flex-direction: row;

        &__local {
            width: 40vw;

            &__actions {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}

mat-divider {
    margin: 0 15px;
}

mat-form-field {
    width: 100%;
}


form {
    display: flex;
    flex-direction: column;
    width: 100%;

    button {
        align-self: flex-end;
    }
}