<div class="container">
    <div class="container__header">
        <h1>Log in</h1>
    </div>
    <div class="container__body">
        <div class="container__body__local">
            <h2>Use a local account to log in</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" required>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
                    Login
                </button>
            </form>
            <div class="container__body__local__actions">
                <button mat-button routerLink="/identity/register">
                    Don't have an account? Register
                </button>
                <button mat-button (click)="onForgotPassword()">
                    Forgot password?
                </button>
            </div>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="container__body__external">
            <h2>Use external service to log in</h2>
            <button mat-raised-button color="primary" type="submit">Log in with Google</button>
        </div>
    </div>
</div>