@use '../../../../../styles/variables' as vars;

.container {
  display: flex;
  flex-direction: column;
  padding-inline: 15px;
  height: 100vh;

  &__header {
    display: grid;
    grid-template-areas:
      "header actions"
      "subheader actions";
    grid-template-columns: 6fr 2fr;
    height: 115px;

    h1 {
      margin-bottom: 0;
      grid-area: header;
    }

    h3 {
      margin-top: 0;
      grid-area: subheader;
    }

    &__actions {
      grid-area: actions;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
    }
  }

  &__body {
    flex-grow: 1;

    &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
  }
}

.article {
  border-radius: 0;
  margin: 2.5px;
  max-height: 115px;

  &:hover {
    cursor: pointer;
    background-color: vars.$surface-1;
  }

  ::ng-deep .mat-mdc-card-header-text {
    width: 100% !important;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    &>mat-icon:first-child {
      color: white;
      fill: white;
    }
  }

  mat-card-header {
    padding: 2.5px 7.5px;
  }

  mat-card-title {
    font-size: 14px;
    color: vars.$primary-4;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  mat-card-subtitle {
    font-size: 10px;
    margin-top: -12.5px;
  }

  mat-card-actions {
    min-height: unset;
    padding: 0 7.5px;
    margin-top: -7.5px;

    mat-chip {
      --mdc-chip-container-height: 14px;
      --mdc-chip-label-text-line-height: 8px;
      --mdc-chip-label-text-size: 8px;
      margin-left: 8px;
    }
  }

  mat-card-content {
    font-size: 12px;
    padding: 2.5px 7.5px;
    padding-bottom: 5px;

    &>span {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}