<div class="container">
  <div class="container__header">
    <h1>{{blogData.blog.title}}</h1>
    <h3>{{blogData.blog.description}}</h3>
    <div class="container__header__actions">
      <ng-container *ngIf="authService.isAnonymous$ | async">
        <button *ngIf="compactView" mat-mini-fab color="primary" routerLink="/identity/login">
          <mat-icon>login</mat-icon>
        </button>
        <button *ngIf="!compactView" mat-raised-button color="primary" routerLink="/identity/login">
          <mat-icon>login</mat-icon>
          Login
        </button>
      </ng-container>
      <ng-container *ngIf="authService.isAdmin$ | async">
        <button *ngIf="compactView" mat-mini-fab color="accent" (click)="createArticle($event)">
          <mat-icon>add</mat-icon>
        </button>
        <button *ngIf="!compactView" mat-raised-button color="accent" (click)="createArticle($event)">
          <mat-icon>add</mat-icon>
          Create Article
        </button>
      </ng-container>
    </div>
  </div>
  <cdk-virtual-scroll-viewport class="container__body" appendOnly [itemSize]="gridRect | articleSize">
    <div class="container__body__grid" appResizeObserver (sizeChanged)="gridRect = $event">
      <ng-container *cdkVirtualFor="let article of articleDataSource">
        <mat-card *ngIf="article" class="article" (click)="navigateToArticle(article)">
          <mat-card-header>
            <mat-card-title>
              <span>{{article.title}}</span>
              <div class="article__actions" *ngIf="authService.isAdmin$ | async">
                <mat-icon class="icon-btn--sm" (click)="editArticle($event, article)">
                  edit
                </mat-icon>
                <mat-icon class="icon-btn--sm" color="warn" (click)="deleteArticle($event, article)">
                  delete
                </mat-icon>
              </div>
            </mat-card-title>
            <mat-card-subtitle>{{article.date | date}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <mat-chip-set aria-label="Article tags">
              <mat-chip *ngFor="let tag of article.tags">{{tag}}</mat-chip>
            </mat-chip-set>
          </mat-card-actions>
          <mat-card-content>
            <span>{{article.description}}</span>
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </cdk-virtual-scroll-viewport>
</div>