.container {
  padding: 15px;
  display: grid;
  grid-template-areas:
    "title tags"
    "subtitle tags"
    "content content"
    "actions actions";
  grid-template-columns: 3fr 2fr;
  gap: 10px;

  &__title {
    grid-area: title;
  }

  &__subtitle {
    grid-area: subtitle;
  }

  &__tags {
    grid-area: tags;

    mat-form-field {
      height: 100%;
    }
  }

  &__content {
    grid-area: content;
  }

  &__actions {
    grid-area: actions;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
  }

  mat-form-field {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    grid-template-areas:
      "title"
      "subtitle"
      "tags"
      "content"
      "actions";
    grid-template-columns: 1fr;
  }
}