<app-spinner></app-spinner>
<mat-toolbar color="primary" *ngIf="!rawPage">
  <a routerLink="/">Blog</a>
  <div class="actions">
    <a routerLink="/identity/register" *ngIf="(authService.isAuthenticated$ |async) === false">Register</a>
    <a routerLink="/identity/login" *ngIf="(authService.isAuthenticated$ |async) === false">Login</a>
    <button mat-raised-button routerLink="/articles/create" *ngIf="(authService.isAdmin$ |async)"
      class="actions__create-btn">
      Create new article
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>