<app-spinner></app-spinner>
<div class="container" [class.compact]="compactView">
  <div class="container__sidenav" *ngIf="!rawPage">
    <ng-container *ngIf="!compactView">
      <img src="assets/author.jpg" alt="author">
      <p>{{blogData.author.bio}}</p>
      <a mat-raised-button color="secondary" [href]="blogData.author.github" target="_blank">
        <mat-icon svgIcon="github"></mat-icon>
        Github
      </a>
      <a mat-raised-button color="secondary" [href]="blogData.author.linkedin" target="_blank">
        <mat-icon svgIcon="linkedin"></mat-icon>
        Linkedin
      </a>
    </ng-container>
    <button class="container__sidenav__toggle" mat-mini-fab color="accent" (click)="compactView = !compactView">
      <mat-icon>{{ compactView ? 'keyboard_arrow_right' : 'keyboard_arrow_left' }}</mat-icon>
    </button>
  </div>
  <div class="container__content">
    <router-outlet></router-outlet>
  </div>
</div>