@use '../styles/variables' as vars;

.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  &__sidenav {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    background-color: vars.$surface-1;
    width: 350px;
  }

  &__content {
    width: 100%;
    height: 100%;
  }
}

img {
  max-height: 200px;
  align-self: center;
  border-radius: 100%;
}