mat-toolbar {
  a {
    color: white;
    text-decoration: none;
  }

  .actions {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: auto;

    &__create-btn {
      background: green;
    }
  }
}